@using Sitecore.Mvc.Presentation
@using Tanasuk.Models
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@{
    var dataSourceId = RenderingContext.CurrentOrNull.Rendering.DataSource;
    Item item = Sitecore.Context.Database.GetItem(dataSourceId);
    Sitecore.Data.Fields.LinkField linkfield = item.Fields["Destination"];
    var url = linkfield.GetFriendlyUrl();
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
    string Src = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
}
<div class="padd">
    <h3><a href="@url">@item.Fields["Title"]</a></h3>
    <div class="sidebar-nav">
        <img src="@Src" class="img-responsive">
    </div>
</div>