<style>
    .page-header {
        padding-bottom: 9px;
        margin: 20px 0 10px;
        border-bottom: 1px solid #eee;
    }

    .sc-breadcrumb {
        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #fff));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
        border-bottom: 0px;
        padding: 0 1em;
        margin-bottom: 10px;
    }
</style>
<div class="container-fluid text-center">
    <div class="row">
        @Html.Sitecore().Placeholder("Banner")
    </div>
</div>
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-12 text-left">
            @Html.Sitecore().Placeholder("Content")
            <hr>
        </div>
    </div>
    @Html.Sitecore().Placeholder("BreadCrumb")
</div>