@using Sitecore.Mvc.Presentation
@using Tanasuk.Models
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@{
    var dataSourceId = RenderingContext.CurrentOrNull.Rendering.DataSource;
    Item item = Sitecore.Context.Database.GetItem(dataSourceId);
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["Logo"]);
    string url = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
}
<a class="navbar-brand" href="/"><img style="max-width:100px; margin-top: -7px;max-height:40px; margin-top: 7px;" src="@url"></a>