<a class="navbar-brand" href="@Sitecore.Links.LinkManager.GetItemUrl(Sitecore.Context.Database.GetItem(Tanasuk.Items.HomePage.TemplateID))">
    @Html.Sitecore().Field("Logo",Sitecore.Context.Database.GetItem(Tanasuk.Items.HomePage.TemplateID),new {@style= "margin-top:-10px", mw=100, mh=40 })
</a>
@*@Html.Sitecore().BeginField("Link")
    testgfghdfghdsf
        @Html.Sitecore().Field("Logo")
    @Html.Sitecore().EndField()*@