<!DOCTYPE html>
<html lang="en">
<head>
    <title>Training</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/addition.css">
    <link rel="stylesheet" type="text/css" href="/Css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/Css/Difficulty.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    @Html.Sitecore().Placeholder("Top")
    @Html.Sitecore().Placeholder("BaseContent")
    <footer class="container-fluid text-center">
        @Html.Sitecore().Placeholder("Footer")
    </footer>
</body>
</html>