@using Sitecore.Mvc.Presentation
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@{
    var ele = RenderingContext.Current.ContextItem;
    Sitecore.Data.Fields.ImageField imi = ele.Fields["Thumbnail"];
    var image = new MediaItem(imi.MediaItem);
    var Url = MediaManager.GetMediaUrl(image);
}
<div class="col-sm-9">
    <h1>@Html.Sitecore().Field("Title") - Type </h1>
    <div id="Translation" style="width:900px;">
        <img src="@Url" class="img-responsive">
        <p>@Html.Sitecore().Field("Description")</p>
        <a class="btn btn-primary" href="#">More Details</a>
    </div>
</div>