@using Sitecore.Data.Items
@using Sitecore.Mvc.Presentation;
@model List<Tanasuk.Models.NavigationModel>
@{
    Item current = RenderingContext.Current.ContextItem;
}
<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        @foreach (var child in Model)
        {
            Sitecore.Data.Fields.LinkField linkfield = child.Name.Fields["Destination"];
            var url = linkfield.GetFriendlyUrl();
        <li class="@(child.Name.Name == current.Name ? "active" : string.Empty)">
        @Html.Sitecore().BeginField("Destination", child.Name, new { haschildren = false })
        @Html.Sitecore().EndField()
        </li>
        }
    </ul>
</div>